<div class="container">
  <div class="col-10-md">

    <h2 class="mt-3 text-center text-white bg-info border border-secondary">更新履歴</h2>
      更新履歴はありません
    <h2 class="mt-3 text-center text-white bg-info border border-secondary">使い方</h2>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQWtEPBrpgXUgnQTA6vpyINsFzFOj_48mWRHo17VWSuuiqAlJmjEHTylHdXryEPB5sfRpT2YJvyx4a7/embed?start=false&loop=false&delayms=10000"
    frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

  </div>
</div>