<div class="container">
  <div class="col-10-md">

    <h2 class="mt-3 text-center text-white bg-success border border-secondary">新着通知</h2>

      通知はありません

    <h2 class="mt-3 text-center text-white bg-success border border-secondary">使い方</h2>

      スライドを挿入（予定）

    </div>

</div>