<div class="container">
  <h1 class="mt-3 text-center bg-info border border-secondary">買い物終了</h1>
  <p>在庫数を更新しました。</p>
  
    買い物お疲れさまでした。<i class="fab fa-angellist"></i><br>
    購入忘れはありませんか？<br>
    追加で入力したい場合には、下記のボタンから入力してください。<br>

    <%= link_to "メモに戻る", shoppingmemos_index_path, class: "btn btn-secondary" %><br>

    ※在庫数が更新されていますので、重複入力に注意してください。
  <p>
</div>