<div class="container">
  <h1 class="mt-3 text-center bg-secondary border border-secondary">新規カテゴリ</h1>
  <div class="col-10-md">
    <%= form_with model: @category, url: admin_categories_path, method: :post, local: true do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>
            カテゴリ名
          </th>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <th>
            ボタンの色
          </th>
          <td>
              <%= f.color_field :color_code %>
          </td>
        </tr>
      </table>
      <%= f.submit "新規作成" , class: "btn btn-success" %>
    <% end %>
  </div>
</div>