<h1>Admin::Users#index</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
    <th>会員ID</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
    <td>
      <%= link_to "管理中" %>
    </td>
    <td>会員ID</td>
    <td>ニックネーム</td>
    <td>メールアドレス</td>
    <td>ステータス</td>
    </tr>
    </tbody>
  </table>
</div>