<div class="container">
  <h1 class="mt-3 text-center bg-info border border-secondary"><%= current_user.name %>さんのマイページ</h1>
  <div class="col-10-md">
    <p>
      <h2 class="mt-3 text-center text-white bg-info border border-secondary">使い方</h2>
      
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQWtEPBrpgXUgnQTA6vpyINsFzFOj_48mWRHo17VWSuuiqAlJmjEHTylHdXryEPB5sfRpT2YJvyx4a7/embed?start=false&loop=false&delayms=10000"
        frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </p>  
  </div>
</div>  