<div class="col-2-md">
  <div class="border border-secondary">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>
            <strong>
              カテゴリ検索
            </strong>
          </th>
        </tr>
        <tr>
          <td>
              <%= link_to , class: "link-dark" %><br>
            <br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


</div>